*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



/* regole blocco macro */

#wrapper {
    display: flex;
    height: calc(100vh - 100px);
    background-color: #141922;

}

/*  regole navigator */

#wrapper nav {

    height: 100%;
    width: 250px;
    background-color: #000000;

}

/* regole side bar */

#side-bar{

    display: flex;
    flex-direction: column;
    height:100%;
    padding:1rem;
   
}

#logo-grande{
    width:100px;
    
}


li img{
    width:25px;
    margin-top: 20px;
}

a{
    text-decoration:none;
    color:white;
    font-size: 10px;
}

h3{
    color: white;
    margin-top:20px;
}

.fa-solid{
    font-weight: 900;
    color: black;
    font-size: 50px;
    margin-top:20px;
    background-color: #a3a3a3;
    
}

.crea{
    color:#686868;
    font-size:20px;
}

#playlist li{
    padding:2px;
    color:#686868;
    padding:10px;
    
}


#side-bar-bottom{
    display: flex;
    flex-direction: column;
    
   
}

span img{
    width: 25px;
    
}

span{
    color:#686868;
  }

  h3 img{
    width:25px;
  }


#playlist ul{
    

}

#playlist{
    overflow: auto;
    
}

/* regole contenuto principale */


/* header e button */
header{
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100px;
    position: sticky;
    background-color: #080b126b;
    right:0;
    top:0;
    
}


.button{
    color: white;
    border:1px solid white;
    border-radius:99px;
    font-size:10px;
    padding:10px;

}

/* regole nav top */


#wrapper main{

    overflow: auto;
    height:100%;
    width:calc(100% - 250px );
    background-color: #141922;
     
}


.link-navigator{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    font-size: 15px;
    padding:10px;
    color: #7d7f84;
    font-weight: 700;
}

.link-navigator li{
    list-style: none;
    margin:15px 10px;
}

/* blocco recently played */
h2{
    color: white;
    padding: 10px;
}

/* prima riga album */

.row{
    display: flex;

}

.album {
    width:calc(100%/6);
    margin: 10px 10px;
    padding:20px;
    text-align: center;
}

.album img{
    width: 100%;

}

/* regola hover */

.card{

    position: relative;
    width: 100%;
    
    

}
.play{
    
    font-size: 50px;
    width: 100%;
    height:100%;
    color: white;
    position: absolute;
    top:0;
    left:0;
    display: none;
    background-color: #080b126b;
    justify-content: center;
    align-items: center;
}



.circle-play{
    color: white;
    font-size: 65px;
}

.card:hover .play{
    display: flex;
    
}


.title{
    color: white;
}

.subtitle{
    color: #7d7f84;
}

/* blocco creato per te */

.ascolti{
    font-size:15px;
    margin-left: 10px;
}


/* blocco artisti popolari */

.tondi{
    border-radius: 99px;
}


/*  regole controller/footer */

#controller{
    display: flex;
    height:100px;
    background-color: #282828;

}
/* blocco sinistro */

.blocco-sx{
    display: flex;
    align-items: center;
    flex-basis: 25%;


}

h5{
    color: white;
}

.blocco-sx span{
    color:#686868;
    font-size: 10px;
      
}

.blocco-sx img{
    width:20%;
    margin:10%;
}

.icons {
    display: flex;
    padding:3%;
    color: grey;
    text-align: center;
    
}

.icons i{
    margin-right: 20px;
    margin-left:20px;
}

/* parte centrale */

.blocco-central{
    text-align: center;  
    flex-basis: 50%;
    margin:20px;
}

.player i{
color: white;
font-size: 20px;
background-color: #282828;
margin:10px;
}

.minuti{
    color: white;
    font-weight: 700;
    font-size: 10px;
    margin:10px;
}

.musica-lungo{
    display: inline-block;
    height: 5px;
    background-color: #5a5a5a;
    border-radius: 10px;
    width:300px;
}

.ascolto-lungo{
    height: 5px;
    width: 60px;
    background-color: white;
}

/* blocco dx */

.blocco-dx{
    display: flex;
    flex-basis: 25%;
    align-items: center;
    margin:10px;
    
    
}

.blocco-dx i{
    background-color: #282828;  
    text-align: end;
    color: white;
    font-size: 10px;
    margin:10px;
    padding:20px;
}


.music{
    display: inline-block;
    height: 5px;
    background-color: #5a5a5a;
    border-radius: 10px;
    width:100px;
}


.listened{
    height: 5px;
    width: 60px;
    background-color: white
}











