*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



/* regole blocco macro */

#wrapper {
    display: flex;
    height: calc(100vh - 100px);
    background-color: #141922;

}

/*  regole navigator */

#wrapper nav {

    height: 100%;
    width: 250px;
    background-color: #000000;

}

/* regole side bar */

#side-bar{

    display: flex;
    flex-direction: column;
    height:100%;
    padding:1rem;
}

#logo-grande{
    width:150px;
    
}


li img{
    width:25px;
    margin-top: 20px;
}

a{
    text-decoration:none;
    color:white;
    font-size: 10px;
}

h3{
    color: white;
    margin-top:20px;
}

.fa-solid{
    font-weight: 900;
    color: white;
    font-size: 50px;
    margin-top:20px;
}

.crea{
    color:#686868;
    font-size:20px;
}

#playlist li{
    padding:2px;
    color:#686868;
    padding:10px;
    
}





#playlist ul{

}

#playlist{
    overflow: auto;
}

/* regole contenuto principale */

#wrapper main{

    overflow: auto;
    height:100%;
    width:calc(100% - 250px );
    background-color: #141922;
    
}





    /*  regole controller/footer */

#controller{
    height:100px;
    background-color: #282828;

}