*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



/* regole blocco macro */

#wrapper {
    display: flex;
    height: calc(100vh - 100px);
    background-color: #141922;

}

/*  regole navigator */

#wrapper nav {

    height: 100%;
    width: 250px;
    background-color: #000000;

}

/* regole side bar */

#side-bar{

    display: flex;
    flex-direction: column;
    height:100%;
    padding:1rem;
}

#logo-grande{
    width:150px;
    
}


li img{
    width:25px;
    margin-top: 20px;
}

a{
    text-decoration:none;
    color:white;
    font-size: 10px;
}

h3{
    color: white;
    margin-top:20px;
}

.fa-solid{
    font-weight: 900;
    color: black;
    font-size: 50px;
    margin-top:20px;
    background-color: #a3a3a3;
}

.crea{
    color:#686868;
    font-size:20px;
}

#playlist li{
    padding:2px;
    color:#686868;
    padding:10px;
    
}

#side-bar-bottom{
    display: flex;
    flex-direction: column;
   
}

#side-bar-bottom span{
    
}

span img{
    width: 25px;
    
}

span{
    color:#686868;
  }

  h3 img{
    width:25px;
  }


#playlist ul{

}

#playlist{
    overflow: auto;
}

/* regole contenuto principale */


/* header e button */
header{
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100px;
    position: sticky;
    background-color: #080b12b2;
    right:0;
}


.button{
    color: white;
    border:1px solid white;
    border-radius:99px;
    font-size:10px;
    padding:10px;

}

/* regole nav top */


#wrapper main{

    overflow: auto;
    height:100%;
    width:calc(100% - 250px );
    background-color: #141922;
     
}


.link-navigator{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    font-size: 15px;
    padding:10px;
    color: #7d7f84;
    font-weight: 700;
}

.link-navigator li{
    list-style: none;
    margin:15px 10px;
}

/* blocco recently played */
h2{
    color: white;
    padding: 10px;
}

/* prima riga album */

.row{
    display: flex;

}

.album {
    width:calc(100%/6);
    margin: 10px 10px;
    padding:20px;
}

.album img{
    max-width: 100%;
}

.title{
    color: white;
}

.subtitle{
    color: #7d7f84;
}

/* blocco creato per te */

.ascolti{
    font-size:15px;
    margin-left: 10px;
}


/* blocco artisti popolari */

.tondi{
    border-radius: 99px;
}


/*  regole controller/footer */

#controller{
    height:100px;
    background-color: #282828;

}